
<!DOCTYPE html>
<html lang="en" class="d-flex h-100 align-items-center">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <title>Follow</title>
    </head>
    {% extends "navbar.html" %} {% block main %}
    <body>
        <h1>{{ header }}</h1>
        {% if is_following %}
        <p>You are now following someone new</p>
        {% else %}
        <p>Stop unfollowing people</p>
        {% endif %}
        {% endblock %}
       
    </body>
</html>